body {
    
    background: #cacaca;
  }


  .contenedor-menu{
background-color: pink ; 
 display: flex;
  justify-content: space-between;
}


.ada{
     
}

.carrito {  

}


.contenedor-titulo { 
    background-color: powderblue;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top:20px;
    align-items: center ;
}

.titulo-principal {

    background-color: purple;
    font-size: 50px;
}

.contenedor-aside{
    
    background-color: seagreen ;
    display: flex;
   
}


.filtros { 
    
    background-color: lightcoral ;
    align-self: auto;
    height: 700px;
}

.div-filtros{
    display: flex;
}

.menu-aside{

    background-color: royalblue ;
    height: 500px;
    height: 1000px;
}

.barra-productos{
    background-color : black ;

}

.contenedor-barra{

    background-color: tomato ;
}

.info-productos {

    background-color: lawngreen ;
}


.contenedor-tarjetas {
    background-color: yellowgreen;
    width: 100%;
 
    display: flex;
    flex-wrap:wrap;
    height: 1000px;
}
.tarjetas{

    display: flex;
    background-color: salmon;
    justify-content: center;
    flex: 1 1 auto ;
    align-self:auto;
 
}

.contenedor-tarjetas>div {

    background-color: red; 
    border: 1px solid black;
    margin: 5px ; 
    flex: 1 1 200px;
   
    } 


  aside {
    flex: 1;
  }
  
  label {
    display: flex;
  }
  
  .container {
    flex: 3;
    display: flex;
  }
  
  .product {
    background-color: #fff;
    padding: 30px 25px;
    text-align: center;
    margin: 10px;
  }
  
  .product-img-container {
    height: 250px;
  }
  
  .product-img {
    height: 100%;
    margin: 0 auto;
  }
  
  .hidden {
    display: none;
  }


.limpiartodo {

  display: none;
}