

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
/* ESTILOS GENERALES  */

*{
  box-sizing: border-box;
  position: relative;
  margin: 0px;
  font-size: 14px;
 
  font-family: 'Montserrat', sans-serif;

}


body {
  font-family: 'Raleway', sans-serif;
  color: #2e2e31;
  background-color: #f5f5f5;
  overflow-x: hidden;
  }

  button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

label {
  display: block;
  cursor: pointer; }

  /* COMIENZO ESTILOS DE  NAV */
  
  .contenedor-menu{
 
 display: flex;
  justify-content: space-between;
}


.ada{
   display: flex;
   justify-content: center;
   align-items: center;  
   margin-left: 2px;
}


.logo-ada{
  display: inline;
   width:20px 
   
}

.ada-shop{
  font-size: 15px;
  margin-left: 5px;
}


/* ----------------CARRITO-------------------- */
.fas.fa-shopping-cart { 
  padding-top: 30px;
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}
.boton-carrito{
  background-color: transparent;
  display: flex;
  
} 

.cart-items{
    text-align: center;
    text-align: center;
    padding-top: 30px;
    padding-left: 8px;
    font-size: 13px;
    
}


/* ----------------TITULO-------------------- */

.contenedor-titulo { 
    
    height: 330px;
    display: flex;
    justify-content: center;
 
    align-items: center ;
    position: relative;
    background-image: url(./imagenes/background.jpeg);
    background-size: cover;
    background-position: center;
}


.contenedor-titulo::before {
  
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }



.titulo-principal {

    color: white;
    font-size: 50px;
    position: absolute;
    font-weight: 900;
    
}


/* 
----------------FIN DE NAV Y TITULO-------------------- */

/* 
 INICIO DE FILTROS  */


 .pagina{
  display: flex;
  margin-top: 35px;
 
}


/* ----------------BUSQUEDA-------------------- */
.busqueda {
  position: relative;
}


 .fas.fa-search {

  position: relative;
  right: -156px;
  top: -21px;

 }

 .search-box{
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid black ;

 }

 /* ----------------FILTROS-------------------- */
 .titles-filter {
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 13px;
  font-weight: bolder;
}

.filtros { 

  width: 260px;
  margin-left: 5px;
  padding-top: 15px;
  padding: 25px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
    
}

.div-filtros{
    display: flex;
}

.filtros-limpieza{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

/* 
----------------ASIDE-------------------- */

.menu-aside{

    background-color: royalblue ;
    height: 500px;
    height: 1000px;
}
aside {
  flex: 1;
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

label input {
  margin-right: 10px;
}

.fa-star{
  color: #f0a500;
  font-size: 15px;
}


.limpiartodo {

  display: none;
}


/* ----------------FIN FILTROS-------------------- */

/* ----------------------------INICIO DE TARJETAS ----------------------------*/


.section{
  width: 100%

}

img{
  display: block;
}
.barra-productos{
  
  margin: 0 10px 10px;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: #fff; 
  padding: 25px 10px;
  font-size: 14px;
}

.hidden-tarjetas{
  display: none;
}

.contenedor-barra{

    background-color: tomato ;
}

.description-filter{
  text-align: end;
}
.filter-responsive{
  display: none;
}

.info-productos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.product-name{
font-size: 20px;
margin-bottom: 5px;
}

.product-price{
font-size: 15px;
padding: 10px;
}

.product-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.buy-button{
  
     margin: 12px 0px 12px 0px; 
    display: flex;
    background-color: #fafafa;
    font-size: 15px;
    font-weight: lighter;
    border-radius: 6px;
    justify-content: center;
    border: none;
    width: 100%;
    height: 40px;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
}

.review{
font-size: 13px;
margin-top: 5px;
}
.boton-grilla-lista{
  display: flex;

  align-items: center;
  
}
.fas.fa-th,.fas.fa-th-list{
  font-size: 20px;
}

.info-mostrar{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;

}
.contenedor-tarjetas {
    
    width: 100%; 
    display: flex;
    flex-wrap:wrap;
   }

.tarjetas{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

    
  .container {
    flex: 3;
    display: flex;
  }
  
  .product {
    background-color: #fff;
    width: 30% ;
    overflow: hidden;
    padding: 30px 25px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: box-show 0.5s;
    text-align: center;
    margin: 10px;
  }
  
  .product-img-container {
   
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-img {
    height: 100%;
    margin: 0 auto;
    transition: 0.2s;
    opacity: 1;
  }

  .product-img-container:hover .product-img {
    transform: scale(1.5);
    opacity: 0.7;
  }

/* 
  .tarjetas.grilla{

    background-color: green
  
  }
  
  .product.grilla{
  
    background-color: red;
  }
  
  .contenedor-tarjetas.grilla{
   
    background-color: yellow;
  } */
/* ------------------------------INICIO DE FOOTER------------------------ */

footer{
    background: #fafafa;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 50px;
}
.footer-parrafo{
  display: flex;
  justify-content: center;
  align-items: center;

}




.footer-page{
  
    background: #fafafa;
    width: 100%;
    display: flex;
    justify-content: center;
}





/* ------------------------------FIN DE FOOTER------------------------ */




  .hidden {
    display: none;
  }




/* ------------------------------INICIO DE CARRITO------------------------ */


.cart-container{
  overflow: scroll;
}
.cart-article{ 

padding: 10px 0;
display: flex;
border-bottom: 1px solid #dedede;

}

.cart-open{
  width: 100%;
  height: 100%;
  max-width: 400px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  padding: 40px 20px;
  background-color: #fff;
  border-left: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  z-index: 5000

}
.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
}

#img-cart{
  display: block;
  width: 30%;
   
}

.title-cart{
  font-size: 20px;
  margin-bottom: 10px;
}

.close-cart{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}

.cart-product {
  flex-grow: 1;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.product-info{ 

display: flex;
justify-content: space-between;
align-items: flex-start;
}

.product-label-cart{
width: 50px;
height: 30px;
font-weight: 600;
text-align: center;
}

.price-number-product{ 
display: flex;
    align-items: center;
    justify-content: space-between;
}


.abrir-carrito {
  transform: translate(0px)
}


.button-container{
  /* display: flex; */
}

.subtotal{
 
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-size: 15px;
  margin-top: 15px;
  padding-bottom: 20px;
}

.button-buy-clear{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  
}
.buy-button-cart{
      
    background-color: #4caf48;
    height: 50px;
    border-radius: 20px;
    margin: 15px 5px 4px 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 0.6px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
}
.clean-button-cart{
  background-color: transparent;
    border: 1px solid #DF0101;
    height: 50px;
    border-radius: 9px;
    margin: 15px 5px 4px 5px;
    font-family: 'Montserrat', sans-serif;
    color: #DF0101;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
}

.ocultar {
  display: none;
}



/* /* ------------------------------INICIO MODAL------------------------ */
.checkout { 
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid grey;
  background-color: #fafafa;
  width: 500px;
  height: 500px;
  padding: 15px;
    left: 50%;
  top: 50%;
  z-index: 3;
 
}




.contenedor-title-checkout {
  border: 1px solid rgb(19, 165, 243);
}

.titulo{
  font-size: 20px;
  font-weight: bold;
}



.main-checkout {
  background-color: hotpink;
  display: flex;
}

.datos-form{
  
  display: flex;
  flex-direction: column;
  flex: 1;
}

.datos-usuario{
  padding: 20px 0;
  flex-grow: 1;
}

.datos-personales {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
}

.nombre-usuario{
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
}

.pago {
  
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.opciones-pago{
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0;
}


.pago label {
  padding: 2px 0;
}

.pago label input {
  padding: 2px 0;
}

.resumen-pago{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: #red;
  min-width: 300px;

}

.titulo-resumen{
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}


.footer-checkout {
  display: flex;
justify-content: flex-end;
padding: 80px 10px 30px;

}

.seguir-comprando {
  height: 50px;
  width: 200px;
  margin: 0 10px;
  border: none;
  background-color: #fafafa;
  border-radius: 5px;
  transition: 0.8s;
}

.finalizar-compra {
  width: 200px;
  height: 50px;
  margin: 0 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  transition: 0.8s;
}

.seguir-comprando:hover {
  background-color: green;
}

.finalizar-compra:hover {
  background-color: yellow;
}


.descuento {
  color: green;
}

.recargo {
  color: red;
}


/* hr {
  margin: 25px 8px;
} */







/* ------------------------------FIN MODAL----------------------- */

/* ------------------------------INICIO DE RESPONSIVE------------------------ */


@media(max-width : 1200px) {

  .product {
    width: 44%;
  } 

  .barra-productos {
  width: 90%;
}

}



@media(max-width : 850px) {

  .filtros{
    display: none;
  }
  .barra-productos{
    width: 95.5%;
  }

  .product {
     width:  46.5%;}
}





@media(max-width : 750px) {
 
*{

  overflow-x: hidden;
}

  .overlay{
    width: 100%;
  }

  .barra-productos{
    width: 100%;
  }

  .contenedor-tarjetas {
    display: flex;
    width: 100%;
    flex-direction: column;
  
   
  }

  
    .product {
       width:  100%;
      }

      .filter-button{
        display: none;
      }
    .filter-responsive{
      display: flex;
    }

    .buy-button{
      width: 100%;
      
    }
}













@media(max-width : 200px) {
  .contenedor-tarjetas {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 3500px;
    width: 2200px;

}
}



.no-scroll {
  overflow: hidden;
}


/* 

.product-img-container{
  justify-content: flex-start;
} */
/* .product-img {
margin: 0;
}  */